<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<h3>Do you want to submit your responses ?</h3>
<button mat-raised-button (click)="no()">No</button>
<button mat-raised-button (click)="yes()">Yes</button>
