.rules_header img{
  height: 100px;
  width: 100px;
}

.rules_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.rules_header h1{
  color: #311B92;
}
.ruleHeading{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  color: #212121;
  margin-bottom: 20px;
}
.rulesSubHeading{
  color:#9E9E9E;
  margin: 30px 0;
  font-size: 20px;
}
.rules{
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  list-style-position: inside;
}
.submit_button{
  text-align: center;
  margin: 2rem;

}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins',sans-serif;
  border-radius: 300px;
}

.check{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40% 0 40%;

}

ol{
  color: #1A237E;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
  font-weight: 500;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  border-bottom: 5px solid red;
  margin-bottom: 2rem;
}
li{
  margin: 1.5rem 0;
  text-align: justify;
}
ul {
  margin-top: -4.2%;
}
.optionsSec{
  margin-top: 2rem;
}

