<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<title>RULES</title>

<div class="rules">
  <div class="rules_header">
    <img src="../../../assets/images/CsiLogo.png" alt="hii">
    <h1>TEAM CSI</h1>
  </div>
  <h1 class="ruleHeading">Rules</h1>
  <div class="rulesSubHeading">Please read carefully before starting the test:</div>
  <p></p>
  <ol>
    <li> The test includes 30 questions</li>
    <li> You will be given only 45 minutes to solve this paper.</li>
    <li> The test comprises four sections - HTML, CSS, JavaScript, NodeJs with MongoDB.</li>
    <li> All questions have only one correct option. You can change your answers before submitting the test.</li>
    <li> You will be awarded 1 mark for each correct answer. There is No Negative Marking.</li>
    <li> Once the question is marked, it cannot be left unanswered, but you can change your response before
      submission.
    </li>
    <li> Do not reload the page in any condition else your data will be lost.</li>
    <li> You can submit your test only once.</li>
    <li>
      <ul> You will be disqualified in the following conditions-
        <li>If you try to close the browser.</li>
        <li>If you try to open a new tab.</li>
        <li>If you press the back button.</li>
        <li>If you try to refresh the page.</li>
        <li>If you indulge in any unfair means.</li>
        <li>If you try to exit fullscreen.</li>
      </ul>
    </li>
  </ol>

  <!--  <div class="optionsSec">-->
  <!--    <h3>Please select 1 programming language below(compulsory)</h3>-->
  <!--    <mat-radio-group class="check" [formControl]="controls.type">-->
  <!--      <mat-radio-button color="warn" name="type" value="c" checked> C</mat-radio-button>-->
  <!--      <mat-radio-button color="warn" name="type" value="c++"> C++</mat-radio-button>-->
  <!--      <mat-radio-button color="warn" name="type" value="java"> JAVA</mat-radio-button>-->
  <!--    </mat-radio-group>-->
  <!--  </div>-->
  <div class="submit_button">
    <form><!--change the name of action to transfer to desired backend.-->
      <input type="submit" class="button" value="START TEST" (click)="startTest()">
    </form>
  </div>

</div>
