* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;

}

.nav__container {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.75fr repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: dense;
}

.heading {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/11;
  grid-row: 1/2;

}

.heading h1 {
  font-size: 3rem;
  color: #1A237E;
  padding: 0 1rem;
}

.heading img {
  height: 70px;
}


.nav {
  grid-gap: 0px;
  background-color: #5F5F5F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: all .3s;
}

.nav:hover {

  color: white;
  background-color: #4CAF50;
}

.nav:active {
  background-color: #4CAF50;
}

.bgBlack {
  background-color: #4CAF50;
}

.que {
  margin-right: 5px;
  grid-column: 2/9;
  grid-row: 2/11;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.nums {
  /* background-color: salmon; */
  grid-column: 9/11;
  grid-row: 2/5;
  padding: 0vh 5px 20px 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.nums .gd {
  height: auto;
  width: auto;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruct {
  padding: 5px;
  margin-bottom: 5px;
  background-color: lightgray;
  grid-column: 9/11;
  /*grid-row: 6/8;*/
  /*height: 5rem;*/
  font-family: 'Poppins', sans-serif;
}

.instruct ul {
  list-style: none;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.instruct .grey {
  display: inline-block;
  height: 12px;
  width: 25px;
  background-color: grey;
}

.instruct .green {
  display: inline-block;
  height: 12px;
  width: 25px;
  background-color: #4CAF50;
}

.count_down {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  background-color: lightgray;
  grid-column: 9/11;
  /*grid-row: 8/9;*/
  /*margin-top: -5rem;*/


}

#time {
  width: 30rem;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  height: 10vh;
  color: red;
  border-radius: 10%;
}

.submit {
  background-color: grey;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 9/11;
  /*grid-row: 9/10;*/
  cursor: pointer;
}

.submit:hover {

  background-color: #4CAF50;
}

.questions {
  margin: 1.5rem 0;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /*padding: 1rem 1rem;*/
  /*border-bottom: 1px solid grey;*/
}

.questions h3 {
  margin-bottom: 1rem;
}


.types {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.types:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.css.map */

