<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<link href='https://fonts.googleapis.com/css?family=Kanit:200' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Sanchez|Karla' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="heading">
    <img src="../../../assets/images/nodejs.png" alt="">
    <h1>NODEJS WITH MONGODB</h1>
    <img src="../../../assets/images/mongodb.png" alt="">
  </div>
  <div class="nav__container">
<!--    <div class="nav" [class.bgBlack]="Arr[0]" (click)="showHide(selectedType,0)">-->
<!--      <div id="heading_{{selectedType}}">{{selectedType}}</div>-->
<!--    </div>-->
    <div class="nav"  [class.bgBlack]="Arr[0]" (click)="showHide('html',0)">
      <div id="heading_html">HTML</div>
    </div>
    <div class="nav" [class.bgBlack]="Arr[1]" (click)="showHide('css',1)">
      <div id="heading_css">CSS</div>
    </div>
    <div class="nav" [class.bgBlack]="Arr[2]" (click)="showHide('js', 2)">
      <div id="heading_js">JavaScript</div>
    </div>
    <div class="nav" [class.bgBlack]="Arr[3]" (click)="showHide('nodejs', 3)">
      <div id="heading_nodejs">NodeJs</div>
    </div>
  </div>

  <div class="que">

    <div *ngFor="let type of types">
      <div id="{{type}}">
        <div class="questions" *ngFor="let question of questions, let i = index" >
          <div *ngIf="question.type === type">
            <h3><pre id="{{i+1}}">{{i+1}}. {{question.question}} ?</pre></h3>
            <mat-radio-group (change)="onQuestionResponse(question.id, $event.value)">
              <div *ngFor="let option of question.options.data">
                <mat-radio-button color="primary" [value]="option.id" (change)="colorDiv(i+1)">{{option.option}}</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nums">
    <div class="gd" *ngFor="let dummy of ' '.repeat(30).split(''), let x = index" id="ques{{x+1}}">{{x + 1}}</div>
  </div>

  <div class="instruct">
    <ul>
      <li><div class="grey"></div>&nbsp;Grey Boxes represents unattempted questions</li>
      <li><div class="green"></div>&nbsp;Green boxes represent attempted questions</li>
    </ul>
  </div>
  <div class="count_down">TIME LEFT<div > <countdown #countdown id="time" [config]="{leftTime: 2700}">$!m!:$!s!</countdown></div></div>
  <div class="submit" (click)="submitTest()">Submit</div>

</div>
