<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<p>questions works!</p>
<div>
  <table style="width:80%" id="question">
    <tr>
      <th>ID</th>
      <th>TYPE</th>
      <th>QUESTION</th>
      <th>OPTIONS</th>
    </tr>
    <tr *ngFor="let question of questions">
      <td>{{question.id}}</td>
      <td>{{question.type}}</td>
      <td>{{question.question}}</td>
      <td><span *ngFor="let option of question.options.data">{{option.option}}, </span></td>
    </tr>
  </table>
</div>

<form>
  <input type="submit" class="createQuestion" value="Create Question" (click)="questionForm()">
</form>
