.admin_header {
  text-align: center;
}

.admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30% 0 30%;
  margin-top: 18%;
}

.candidate, .question {
  background-color: #4CAF50;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
