<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<head>
  <title>ADMIN</title>
</head>
<div class="admin_header"><h2>WELCOME Admin</h2></div>
<div class="admin">
  <form>
    <input type="submit" class="candidate" value="Candidates" (click)="candidates()">
  </form>
  <form>
    <input type="submit" class="question" value="Questions"(click)="questions()">
  </form>
</div>
