*{
  margin: 0;
  padding: 0;
}
form{
  margin-top: 13rem;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-form-field{
  width: 100%;
 height: 5rem;
}
.resSub{
  width: 100%;
  background: none;
  background: #4CAF50;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 1rem 1.5rem;
  display: block;
  margin-top: 6rem;
  cursor: pointer;
}

