<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<form class="resForm">
  <mat-form-field>
    <textarea matInput placeholder="Share Your Reviews Regarding Workshop" [formControl]="controls.input"></textarea>
  </mat-form-field>
  <button class="resSub" (click)="submitResponse()">Submit</button>
</form>
