<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<p>candidates works!</p>

<div>
  <table style="width:80%" id="question">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>ROLE</th>
      <th>STUDENT_NO</th>
      <th>EMAIL</th>
      <th>BRANCH</th>
      <th>PHONE_NUMBER</th>
      <th>GENDER</th>
      <th>HOSTELER</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.role}}</td>
      <td>{{user.student_number}}</td>
      <td>{{user.email}}</td>
      <td>{{user.branch}}</td>
      <td>{{user.phone_number}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.hosteler}}</td>
    </tr>
  </table>
</div>

<form>
  <input type="submit" class="createQuestion" value="Create Candidate" (click)="candidateForm()">
</form>
