<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<p xmlns="http://www.w3.org/1999/html">create-question works!</p>

<title>Create Question</title>
<link href='https://fonts.googleapis.com/css?family=Kanit:200' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Sanchez|Karla' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">

  <form class="form" [formGroup]="form" (ngSubmit)="createQuestion()">

    <mat-select placeholder="Category" [formControl]="controls.type">
      <mat-option value="html">HTML</mat-option>
      <mat-option value="css">CSS</mat-option>
      <mat-option value="js">JS</mat-option>
      <mat-option value="nodejs">NODEJS</mat-option>
<!--      <mat-option value="sql">SQL</mat-option>-->
<!--      <mat-option value="aptitude">APTITUDE</mat-option>-->
    </mat-select>
    <hr>
    <mat-form-field>
      <textarea matInput class="inp" [formControl]="controls.question" placeholder="Question"></textarea>
    </mat-form-field>
    <hr>
    <div formArrayName="options" *ngFor="let control of formData.controls, let i = index">
      <div [formGroupName]="i">
        <mat-radio-group formControlName="is_correct">
          <mat-radio-button [value]=true><input type="text" class="inp" formControlName="title" placeholder="Title"
                                                required/></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <input class="submit inp" type="submit" value="Submit">
  </form>
</div>
