*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

.container{
  width: 100%;
  /*  background-color: aqua; */
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1{
  margin-bottom: 5vh;
  font-size: 50px;
  color: #2A3579;
}

.form{

  display: flex;
  flex-direction: column;
}

input{
  margin: 5px;
  border: 0px;
  height: 6vh;
  width: 25vw;
  font-size: 20px;

}
mat-select{
  margin: 5px;
  border: 0px;
  height: 6vh;
  width: 25vw;
  font-size: 20px;
}
.submit{
  margin-top:3vh;
  background-color: #2A3579;
  color: white;
  font-weight: 500;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
