<!--
Author: Subhanshu Chaddha
Contact: subhanshu.chaddha2@gmail.com
College: AKGEC, Ghaziabad
-->
<p>create-candidate works!</p>

<title>Login</title>
<link href='https://fonts.googleapis.com/css?family=Kanit:200' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Sanchez|Karla' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="head">
    <h3>Computer Society of India</h3>
  </div>
  <div>
    <mat-card style="width: 50vh">
      <form>
        <mat-form-field >
          <input matInput type="name" class="inp" [formControl]="controls.name" placeholder="Name" required/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="tel" class="inp" [formControl]="controls.student_number" placeholder="Student no."
                 required/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="email" class="inp" [formControl]="controls.email" placeholder="Email" required/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="tel" class="inp" [formControl]="controls.phone_number" placeholder="Mob.no." required/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Branch</mat-label>
          <mat-select [formControl]="controls.branch">
            <mat-option value="CS">CS</mat-option>
            <mat-option value="IT">IT</mat-option>
            <mat-option value="ECE">ECE</mat-option>
            <mat-option value="EN">EN</mat-option>
            <mat-option value="EI">EI</mat-option>
            <mat-option value="ME">ME</mat-option>
            <mat-option value="CE">CE</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <h3>Gender:-</h3>
        <mat-radio-group aria-label="Select an mat-option" [formControl]="controls.gender">
          <mat-radio-button name="gender" value="male">Male</mat-radio-button><br>
          <mat-radio-button name="gender" value="female">Female</mat-radio-button><br>
          <mat-radio-button name="gender" value="other">Other</mat-radio-button><br>
        </mat-radio-group>
        <br>
        <h3>Hosteler</h3>
        <mat-radio-group aria-label="Select an mat-option" [formControl]="controls.hosteler">
          Yes
          <mat-radio-button name="hosteler" value="1"></mat-radio-button>
          No
          <mat-radio-button name="hosteler" value="0"></mat-radio-button>
        </mat-radio-group>
        <br>
        <button mat-raised-button (click)="createCandidate()"> Submit</button>
      </form>
    </mat-card>
  </div>
</div>
