/*
  Author: Subhanshu Chaddha
  Contact: subhanshu.chaddha2@gmail.com
  College: AKGEC, Ghaziabad
*/

@import '~@angular/material/theming';
@include mat-core();
$primary-color: #27A0D6;
$secondary-color: white;
$color-black: black;
$icm-primary: (
50 : #e6f4fa,
100 : #c1e3f2,
200 : #98d0ea,
300 : #6ebde1,
400 : #4fafda,
500 : #30a1d4,
600 : #2b99cf,
700 : #248fc9,
800 : #1e85c3,
900 : #1374b9,
    A100 : #eaf5ff,
    A200 : #b7dfff,
    A400 : #84c8ff,
    A700 : #6abcff,
    contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);
$icm-accent: (
50 : #e6f4fa,
100 : #c1e3f2,
200 : #98d0ea,
300 : #6ebde1,
400 : #4fafda,
500 : #30a1d4,
600 : #2b99cf,
700 : #248fc9,
800 : #1e85c3,
900 : #1374b9,
    A100 : #eaf5ff,
    A200 : #b7dfff,
    A400 : #84c8ff,
    A700 : #6abcff,
    contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);
$icm-primary-palette: mat-palette($icm-primary);
$icm-accent-palette: mat-palette($icm-accent, A200, A100, A400);
$icm-theme: mat-light-theme($icm-primary-palette, $icm-accent-palette);
@include angular-material-theme($icm-theme);
